<header>
    <h1>BiblioMate</h1>
    <h2>MLA Method Bibliography</h2>
    <p>A good choice for all students of the arts and humanities. A favourite in the U.S.</p>
    <div id="timestamp"></div>
</header>

<div id="container">
    <!-- #### Books here ###-->
    <div class="input-area">
        <h2>Books</h2>
        <form>
            <label for="book_title">Book Title</label>
            <input id="book_title" type="text" placeholder="Title" />
            <br>
            <label for="book_author">Author</label>
            <input id="book_author" type="text" placeholder="Author" />
            <br>
            <label for="book_publisher">Publisher</label>
            <input id="book_publisher" type="text" placeholder="Publisher" />
            <br>
            <label for="book_date">Date</label>
            <input id="book_date" type="date" placeholder="Date" />
        </form>
    </div>
    <div class="output-area">
        <span>Result</span>
        <p class="result">
            <span>Gone with the wind</span>
            <span>Margeret Micthel</span>
            <span>Unknown</span>
            <span>1936</span>
            <span class="copy">Copy</span>
        </p>
    </div>


    <!-- #### Magazines and journals here ###-->
    <div class="input-area">
        <h2>Magazines</h2>
        <form>
            <label for="mag_title">Book Title</label>
            <input id="mag_title" type="text" placeholder="Title" />
            <br>
            <label for="mag_author">Author</label>
            <input id="mag_author" type="text" placeholder="Author" />
            <br>
            <label for="mag_publisher">Publisher</label>
            <input id="mag_publisher" type="text" placeholder="Publisher" />
            <br>
            <label for="mag_date">Date</label>
            <input id="mag_date" type="date" placeholder="Date" />
        </form>
    </div>
    <div class="output-area">
        <span>Result</span>
        <p class="result">
            <span>Gone with the wind</span>
            <span>Margeret Micthel</span>
            <span>Unknown</span>
            <span>1936</span>
            <span class="copy">Copy</span>
        </p>
    </div>

        <!-- #### Online publications here ###-->
    <div class="input-area">
        <h2>Online Publications</h2>
        <form>
            <label for="online_title">Book Title</label>
            <input id="online_title" type="text" placeholder="Title" />
            <br>
            <label for="online_author">Author</label>
            <input id="online_author" type="text" placeholder="Author" />
            <br>
            <label for="online_pub">Publisher</label>
            <input id="online_pub" type="text" placeholder="Publisher" />
            <br>
            <label for="online_date">Date</label>
            <input id="online_date" type="date" placeholder="Date" />
        </form>
    </div>
    <div class="output-area">
        <span>Result</span>
        <p class="result">
            <span>Gone with the wind</span>
            <span>Margeret Micthel</span>
            <span>Unknown</span>
            <span>1936</span>
            <span class="copy">Copy</span>
        </p>
    </div>

</div>

<div ng-include="'app/modules/common/footer/templates/footer.html'"></div>