<header>
    <h1>BiblioMate</h1>
    <h2>Your friend in creating bibliographies</h2>
    <div ng-directive="TimeGreeter"></div>
    
    <div ng-include="'app/modules/common/header/templates/head.html'"></div>
</header>

<div class="jumbotron">
	<h2>Bibliography methods explained</h2>
	<p>
	APA is based on information about the author and the date of the publication. This means emphasis is placed on exactly that, the author and the date of a piece of work. Harvard is very similar to APA. Where APA is primarily used in the USA, Harvard referencing is a favourite all across the world and in particular the UK and Australia, and is encouraged for use with the humanities. MLA is a good choice for the arts and humanities sciences, particularly in the USA. It is arguably the most well used of all of the citation styles. The Vancouver system is synonymous with medical and scientific papers. Turabian is similar to the Chicago system and just like Harvard and APA these are widely used for history and in particular economics.
	</p>
</div>
