<nav id="main-nav">
    <ul>
        <li><a href="#/" title="">Home</a></li>
        <li><a href="#/apa" title="">APA Method</a></li>
        <li><a href="#/mla" title="">MLA Method</a></li>
        <li><a href="#/harvard" title="">Harvard Method</a></li>
        <li><a href="#/vancouver" title="">Vancouver Method</a></li>
        <li><a href="#/turabian" title="">Turabian Method</a></li>
        <li><a href="#/customers" title="">Custmers, because we can</a></li>
        <li><a href="#/orders/1" title="">Orders, now we're just bragging</a></li>
    </ul>
</nav>